<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.durante.fabrizio.myaccountant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NuovoConto"
            android:label="Creazione conto"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.durante.fabrizio.myaccountant.NuovoConto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DebCredActivity"
            android:label="Crea promemoria"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.durante.fabrizio.myaccountant.DebCredActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NuovaOperazione"
            android:label="Nuova operazione"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.durante.fabrizio.myaccountant.NuovaOperazione" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DettaglioConto"
            android:label="@string/title_activity_dettaglio_conto"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.durante.fabrizio.myaccountant.DettaglioConto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MappaMovimento"
            android:parentActivityName=".DettaglioConto"
            android:label="Dettaglio Movimento">
            <intent-filter>
                <action android:name="com.durante.fabrizio.myaccountant.MappaMovimento"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ModificaMovimento"
            android:label="Modifica Movimento">
            <intent-filter>
                <action android:name="com.durante.fabrizio.myaccountant.ModificaMovimento"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>